 body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo {
width: 150px;
margin-top: -30px;
margin-left: -20px;
}
header { 
    background-color: rgb(36, 34, 34);
    width: 100%;
    position: fixed;
    z-index: 5;
    height: 90px;
 }
 .navbar {
     margin-top: 25px;
     float: right;
     margin-right: 40px;
    }
    .navitem {
     cursor: pointer;
     border: none;
     margin-left: 25px;
     height: 35px;
     width: 90px;
     background-color: rgb(36, 34, 34);
     color: gold;
     border-radius: 15px;
     box-shadow: 2px 3px 5px gold;
 }
.navitem:hover {
    font-size: 15px;
    transition: 1s ease-in-out;
}
.first_page {
    padding-top: 110px;
}
#heading1 {
    justify-self: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    color: rgb(36, 34, 34);
    box-shadow: 5px 10px 10px rgb(36, 34, 34);
    text-shadow: 2px 5px 5px gold;
    padding-bottom: 10px;
}
#coming_soon {
    
    animation: animate 2s infinite ease-in;
    animation: animate 2s infinite ease-out;
    /* animation: animate 1s infinite ease-out; */
}
@keyframes animate {
    from {
        color: inherit;
    }
    to {
        color: white;
    }
}
.coming_content {
    width: 90%;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 20px;
}
#slideshow_image {
    width: 100%;
    margin-top: -25px;
    height: 400px;
    box-shadow: 5px 10px 10px rgb(36, 34, 34);
}
.indicator {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;   
}
.slideshow_indicator {
    background-color: inherit;
    height: 20px;
    width: 20px;
    margin-top: 25px;
    border-radius: 45px ;
    margin-right: 15px;
}

.about_section, .contact_section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}
#about {
    justify-self: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}
#us {
    color: gold;
    text-shadow: 0px 5px 5px rgb(36, 34, 34);
}
#about_image {
    width: 82%;
    height: 235px;
    margin-top: 45px;
    margin-left: 20px;
    border-radius: 20px;
}
.right_section {
    margin-top: 40px;
}

#name {
    font-size: 30px;
    color: gold;
    text-shadow: 0px 5px 5px rgb(36, 34, 34);
}
#details{
    width: 90%;
    margin-top: 20px;
}
#read {
    margin-top: 15px;
    /* float: right;
    margin-right: 160px; */
    font-size: 12px;
    height: 30px;
     width: 70px;
     background-color: rgb(36, 34, 34);
     color: gold;
     border-radius: 15px;
     cursor: pointer;
} 
#send {
    margin-top: 40px;
    justify-self: auto;
    text-align: center;
}
.contact_left {
    margin-top: 80px;
}
fieldset {
    margin-top: 40px;
    margin-right: 20px;
    height: 330px;
}
#input {
    width: 94%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 40px;
    padding-left: 5px;
}
#message {
    margin-top: 20px;
    margin-left: 5px;
    width: 94%;
    height: 80px;
    padding-left: 5px;
    padding-top: 5px;
}
#submit {
    height: 35px;
    width: 120px;
    background-color: rgb(36, 34, 34);
    color: gold;
    margin-left: 30%;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 15%;
    border-radius: 5px;
}
#submit:hover {
    color: rgb(165, 141, 2);
}

@media screen and (max-width:500px) {
    #logo {
        margin-top: -20px;
        margin-left: -30px;
    }
    .navitem {
        margin-left: -2px;
        background-color: inherit;
        box-shadow: none;
        
    }
    .navbar {
        margin-top: -100px;
        margin-right: 10px;   
    }
    #slideshow_image {
        height: 350px;
    }
    .coming_content {
        margin-left: 25px;
        width: 85%;
    }
    .about_section {
        display: block;
    }
    #about_image {
        height: 300px;
        width: 90%;
        margin-top: 80px;
        margin-left: 20px;
    }
    .right_section {
        margin-left: 30px;
    }
    #details {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    #read {
        margin-top: -5px;
    }
    .about_section {
        margin-top: -15px;
    }
    .contact_section {
        display: block;
    }
    fieldset {
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media (min-width:1024px) {
    .navitem {
        margin-left: 80px;
    }
    .navbar {
        margin-right: 80px;
    }
    #slideshow_image {
        height: 650px;
    }
    .coming_content {
        width: 70%;
        margin-left: 180px;  
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .about_section {
        margin-left: 80px;
    }
    #about_image {
        height: 400px;
        width: 100%;
    }
    .right_section {
        margin-top: 100px;
        margin-left: 100px;
    }
    #details {
        margin-top: 50px;
        width: 70%;
    }
    #read {
        margin-right: 190px;
        margin-top: 80px;
    }
    #input, #message {
        width: 97%;
    }
    #submit {
        margin-left: 45%;
    }
}